.mensajeCarrito {
    display: grid;
    color: #53f135;
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px #aac6b88a;
}

.click{
    margin-top: 1rem;
}

.contenedorGlobalItemsCarrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorProductosCarrito {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.sumaTotal {
    color: #1faf15;
    text-shadow: 1px 1px 1px #ffffff3d;
    font-size: 1.6rem;
}