.contenedorItemDetailContainer {
    margin-top: 2rem;
}

.contenedorCargando {
    height: 39rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.cargando {
    color: #2aba0f;
    font-size: 4rem;
    -webkit-animation: opaco 1.5s linear infinite;
    -o-animation: opaco 1.5s linear infinite;
    animation: opaco 1.5s linear infinite;
}

@keyframes opaco {
    from {opacity: 100%;}
    to {opacity: 0;}
}