.contenedorCartWidget {
    display: flex;
    align-items: center;
}

.contenedorCarrito {
    margin-right: 0.5rem;
}

.carrito {
    color: beige;
    text-shadow: 2px 2px 2px green;
    font-size: 1.7rem;
}

.contadorCompras {
    color: beige;
    text-shadow: 2px 2px 2px green;
    background-color: #1bae1b;
    padding: 0.3rem;
    border-radius: 2rem;
}