.contenedorItemList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    color: #53f135;
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px #aac6b88a;
}

.burger {
    color: #53f135;
    font-size: 2.2rem !important;
    padding: 0 1.2rem;
}

.descripcionesItemListContainer {
    margin-top: 1rem;
    color: #2aba0f;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #aac6b88a;
}

.descripcionesItemListContainer:last-of-type {
    margin-bottom: 2rem;
}