.contenedorItemCount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

.contenedorBotonesSumaResta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 10rem;
    box-shadow: 2px 2px 2px;
    color: gainsboro;
    width: 10rem;
    height: 3.7rem;
}

.contenedorBotonesSumaResta p {
    color: beige;
    text-shadow: 2px 2px 2px green;
    font-size: 1.35rem;
}

.operador {
    color: beige;
    text-shadow: 2px 2px 2px green;
    font-size: 1.35rem;
}

.botonAgregarCarrito {
    background-color: black;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px;
    font-size: 1.2rem;
    color: gainsboro;
    width: 10rem;
}

.botonAgregarCarrito:hover {
    color: rgb(157 255 0);
    background-color: black;
    transition: 0.3s;
}

