.contenedorItemFiltrado {
    background: linear-gradient(45deg, #0a1a0fc2, #29c475c7);
    border: solid 1px white;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #acaca9;
    font-family: all-petite-caps;
    margin: 2rem;
    -webkit-animation: opacidad 1.5s linear;
    -o-animation: opacidad 1.5s linear;
    animation: opacidad 1.5s linear;
}

@keyframes opacidad {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.contenedorItemFiltrado:hover {
    box-shadow: 3px 3px 3px rgb(129, 196, 5);
}

.imagenProductoFiltrado img{
    border-radius: 10rem;
    margin-top: 1rem;
}

.tituloProductoFiltrado {
    color: beige;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px green;
}

.descripcionProductoFiltrado {
    color: beige;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px green;
    padding: 0 2rem;
}

.precioProductoFiltrado p {
    color: rgb(157 255 0);
    text-shadow: 1px 1px 1px black;
    font-size: 1.3rem;
}