.contenedorItemList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenida {
    color: #2aba0f;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #f5f5dc52;
}

.burger {
    color: #2aba0f;
    font-size: 1.5rem !important;
    text-shadow: 2px 2px 2px #f5f5dc52;
    padding: 0 1.2rem;
}